@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka+One&family=Mochiy+Pop+P+One&family=Righteous&family=Staatliches&display=swap");
nav {
  background-color: #2a2d3e;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Fredoka One", cursive;
  font-size: 1.3em;
}

.logo_nav {
  height: 70px;
  width: 70px;
  padding: 5px;
  padding-left: 5px;
  margin: 5px;
}
.logo_nav img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.photo_nav {
  height: 150px;
  padding: 5px;
  padding-left: 5px;
  margin: 5px;
}
.photo_nav img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.menu_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
.menu_nav ul {
  display: flex;
  gap: 90px;
  padding-left: 20px;
  padding-right: 20px;
}
.menu_nav ul li {
  list-style: none;
}
.menu_nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
.menu_nav .reseaux_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  list-style: none;
}
.menu_nav .reseaux_nav ul {
  display: flex;
}
.menu_nav .reseaux_nav ul li {
  list-style: none;
}
.menu_nav .reseaux_nav ul li a {
  color: #ffffff;
}

.header_deux {
  background-color: #2a2d3ec9;
  font-family: "Courgette", cursive;
  font-size: 1.3em;
  color: #ffffff;
}

.one_div {
  background-color: #3E5393;
}