@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Italianno&family=Maitree:wght@300&display=swap");
nav {
  background-color: #2a2d3e;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Riffic", cursive;
  font-size: 1.2em;
}

.logo_nav {
  height: 50px;
  width: 50px;
  padding: 5px;
  padding-left: 5px;
  margin: 5px;
}
.logo_nav img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.photo_nav {
  height: 200px;
  width: 200px;
  padding: 5px;
  padding-left: 5px;
  margin: 5px;
}
.photo_nav img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.menu_nav ul {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
}