nav{
background-color: #2A2D3E;
display: flex;
justify-content: space-around;

        .logo_nav{
                height: 50px; 
                width: 50px;
                padding: 5px;
                padding-left: 5px;
                margin: 5px;
            }
                img{
                    object-fit: cover;
                    height: 100%;
        
        .onglet_nav ul li a{
            color: #FFFFFF;
            display: flex;
            list-style: none;
        }   
    }
}